*{
    margin: 0%;
    padding: 0%;
}

body 
{
background-image: url('imagenes/fondo.jpg');
background-repeat: no-repeat;
background-attachment: fixed
}


.img{
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px white;
    margin-top: 20px;
}

.tamaño{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.medida{
    display: flex;
    flex-wrap: wrap;
    margin: 3px
}

.forma{
    list-style-type: none;
    width: 300px;
    margin: auto;
    margin-top: 6px;
}

p{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}